@import './../../styles/scss/_mixins/breakpoints';

.wrapper {
  padding: 12.5px 0;
  list-style: none;
  position: relative;
  top: 0;
  left: 100%;
  width: 100%;
  transition: left 0.5s ease;

  &:last-of-type {
    border-bottom: none;
  }

  &:before {
    position: absolute;
    width: 100%;
    height: 1.5px;
    content: '';
    background: var(--main-grey-light);
    left: 0px;
    bottom: 0px;
  }

  li {
    display: flex;
    justify-content: space-between;
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(12, 1fr);
    gap: var(--space-xl);
  }
}

.slideIn {
  left: 0;
}

.company {
  color: var(--main-grey);

  @include breakpoint(md) {
  }
}
