@import './../../styles/scss/_mixins/breakpoints';

.agencyWorkWrapper {
  display: flex;
  flex-direction: column;
  grid-column: 2 / -1;
  grid-row: 5 span;
  padding-bottom: 28px;
  position: relative;
  overflow: hidden;

  ul {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  @include breakpoint(sm) {
    grid-column: 6 / -1;
    grid-row: 6 span;
  }
  @include breakpoint(lg) {
    grid-column: 3 span / -1;
  }
}
