@import './../../styles/scss/_mixins/breakpoints';

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: var(--space-lg) 0;

    @include breakpoint(xl){
        padding: 104px 0 0;
    }
    
}