@import './../styles/scss/_mixins/breakpoints';

.wrapper {
  display: grid;
  gap: calc(var(--base-spacing) * 3);
  row-gap: calc(var(--base-spacing) * 7);

  @include breakpoint(md) {
    grid-template-columns: repeat(12, 1fr);
    row-gap: calc(var(--base-spacing) * 23);
  }

  .content {
    display: grid;
    grid-column: 1/-1;
    gap: calc(var(--base-spacing) * 7);
    margin-bottom: calc(var(--base-spacing) * 7);

    .heading {
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 117%; /* 37.44px */
      letter-spacing: -0.96px;

      @include breakpoint(md) {
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        line-height: 97.2%;
        letter-spacing: -1.8px;
      }
    }
  }
}
