@import './../styles/scss/_mixins/breakpoints';

.wrapper {
  display: grid;
  gap: calc(var(--base-spacing) * 3);
  row-gap: calc(var(--base-spacing) * 7);

  @include breakpoint(md) {
    grid-template-columns: repeat(12, 1fr);
    row-gap: calc(var(--base-spacing) * 23);
  }

  .content {
    display: grid;
    grid-column: 1/-1;
    gap: calc(var(--base-spacing) * 6);
    margin-bottom: calc(var(--base-spacing) * 6);

    .heading {
      @include breakpoint(md) {
      }
    }
  }
}
