@import './../../styles/scss/_mixins/breakpoints';

.wrapper {
  position: fixed;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  bottom: 0%;
  z-index: 100;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 8px 12px 24px;
  gap: var(--base-spacing);
  backdrop-filter: blur(10px);
  background-color: var(--component-bg-color);
  color: var(--text-color-secondary);
  border-radius: var(--border-radius);
  font-size: var(--step-0);

  @include breakpoint(md) {
  }
}
