@import './../../../styles/scss/_mixins/breakpoints';

.container {
  display: flex;
  position: relative;
  opacity: var(--opacity);
  aspect-ratio: 4/5;
  flex: 1;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 10px;
    opacity: var(--opacity);
  }

  .projectButton {
    display: flex;
    gap: var(--base-spacing);
    position: absolute;
    top: var(--space-md);
    right: var(--space-md);
    backdrop-filter: blur(4px);
    width: fit-content;
    padding: 8px 14px;
    color: var(--text-color-primary);
  }

  .detailsWrapper {
    display: none;
    height: -webkit-fill-available;
    flex-direction: column;
    background-color: var(--bg-color);
    border-radius: 10px;
    gap: var(--space-md);
    aspect-ratio: 4/5;
    position: absolute;
    left: 0;
    top: 0;

    .details {
      display: flex;
      flex-direction: column;
      padding: 12px;
      gap: var(--space-md);

      .description {
        font-size: 20px;
        color: var(--main-grey);
      }

      .tagsWrapper {
        display: flex;
        flex-direction: column;

        .tagsTitle {
          font-weight: 500;
        }

        .tags {
          display: flex;
          flex-wrap: wrap;
          gap: 4px;
          color: var(--main-grey-light);

          .tag {
          }

          ::after {
            content: ',';
          }

          :last-of-type::after {
            content: unset;
          }
        }
      }

      .LinksWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--space-md);

        .LinkWrapper {
          display: flex;
          align-items: center;
          gap: var(--base-spacing);
        }
      }
    }

    .detailsButton {
      position: static;
      align-self: flex-end;
      background-color: var(--main-black);
      color: var(--main-white);

      svg {
        color: var(--main-white);

        path {
          stroke: var(--main-white);
        }
      }

      @media (prefers-color-scheme: dark) {
        background-color: var(--main-white);
        color: var(--main-black);

        svg {
          color: var(--main-black);

          path {
            stroke: var(--main-black);
          }
        }
      }
    }
  }
}

.view {
  display: flex !important;
  width: -webkit-fill-available;
  margin: var(--base-spacing);
  padding: var(--base-spacing);
}

.isMobile {
}
