@import './../../styles/scss/_mixins/breakpoints';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  grid-column: 1 / -1;
  grid-row: 1 span;

  @include breakpoint(md-mini) {
    grid-column: 1 / span 4;
    grid-row: 5 span;
  }
  @include breakpoint(lg) {
    grid-column: 1 / span 8;
    flex-direction: row;
  }
}
