@import './../../styles/scss/_mixins/breakpoints';

.wrapper {
  display: grid;
  gap: var(--space-lg);

  @include breakpoint(md-mini) {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--base-spacing) * 12);
  }
  @include breakpoint(lg) {
    grid-template-columns: unset;
  }
}
