@import './../../styles/scss/_mixins/breakpoints';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--space-xs);

    a:hover {
        cursor: pointer;
    }

    @include breakpoint(md) {
        flex-direction: row;
        align-items: center;
        gap: calc(var(--base-spacing)*7)
    }
}