@import './styles/scss/_mixins/breakpoints';

.wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(2, 1fr);
  gap: var(--grid-gap-spacing);
  padding: var(--grid-gap-spacing);
}

.gridItem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--grid-gap-spacing);

  @include breakpoint(md) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
}

.name {
  display: flex;
  flex-direction: column;
  font-family: var(--font-syne);
  grid-column: 2 span;
  grid-row: 2 span;
  font-size: var(--step-6);

  @include breakpoint(md) {
  }
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  grid-column: 4 / -1;
  grid-row: 3 span;
  padding: 24px;
  gap: 24px;

  @include breakpoint(md) {
    flex-direction: row;
  }
}

.dot {
  display: flex;
  width: 14px;
  height: 14px;
  background: black;
  border-radius: 50%;
  align-self: end;

  @include breakpoint(md) {
  }
}
.descriptionWrapper {
  display: flex;
  grid-column: 2 / -1;
  grid-row: 2 span;
  align-items: end;
  color: var(--main-grey);

  @include breakpoint(md) {
  }
}
