@import './styles/scss/_mixins/breakpoints';

.wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr;
  gap: var(--grid-gap-spacing);
  padding: var(--grid-gap-spacing);
}

.gridItem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--grid-gap-spacing);

  @include breakpoint(sm) {
    grid-template-columns: repeat(8, 1fr);
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  font-family: var(--font-syne);
  grid-column: 2 span;
  grid-row: 3 span;
  font-size: var(--step-6);

  @include breakpoint(sm) {
    grid-column: 5 span;
  }
}
.name {
  font-size: clamp(3rem, 10vw, 8.625rem);
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  grid-column: 1 span / -1;
  grid-row: 3 span;
  padding: 24px;
  gap: 24px;

  @include breakpoint(sm) {
    grid-column: 3 span;
    grid-row: unset;
    height: fit-content;
    flex-direction: row-reverse;
  }
  @include breakpoint(md) {
    flex-direction: row;
  }
}

.dot {
  display: flex;
  width: 14px;
  height: 14px;
  background: var(--text-color-primary);
  border-radius: 50%;
  align-self: flex-end;
  aspect-ratio: 1/1;

  @include breakpoint(sm) {
    align-self: center;
  }
}

.descriptionWrapper {
  display: flex;
  grid-column: 2 / -1;
  grid-row: 2 span;
  align-items: flex-end;
  color: var(--main-grey);

  @include breakpoint(sm) {
    grid-column: 3 / 3 span;
    grid-row: 5 / -1;
    align-items: flex-start;
  }
  @include breakpoint(md) {
  }
}
.workTitle {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1 span;

  @include breakpoint(sm) {
    grid-column: 4 span;
  }
}
.agencyWorkWrapper {
  display: flex;
  flex-direction: column;
  grid-column: 2 / -1;
  grid-row: 5 span;
  padding-bottom: 28px;

  ul {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  @include breakpoint(sm) {
    padding-bottom: 0;
    grid-column: 6 / -1;
    grid-row: 6 span;
  }
}
