// Default (Light Mode)
:root {
  // Colors
  --main-black: rgba(26, 26, 26, 1);
  --main-white: rgba(255, 255, 255, 1);
  --main-grey: rgba(96, 96, 96, 1);
  --main-grey-light: rgba(204, 204, 204, 1);
  --main-accent: rgba(0, 36, 156, 1);

  --text-color-primary: var(--main-black);
  --text-color-secondary: var(--main-white);
  --page-bg-color: #f3f3f3;
  --bg-color: var(--main-white);
  --component-bg-color: rgba(96, 96, 96, 0.5);

  --opacity: 1;

  // Button
  --button-default-bg-color: var(--main-white);
  --button-outlinedWithTint-bg-color: rgba(255, 255, 255, 0.5);
  --button-outlinedWithTint-border-color: rgba(96, 96, 96, 0.5);
}

// Dark Mode (Manual Override or System Preference)
[data-theme='dark'],
:root[data-theme='dark'] {
  --main-accent: #e43c13;
  --main-grey: rgba(255, 255, 255, 0.6);
  --main-grey-light: rgba(255, 255, 255, 0.2);

  --text-color-primary: var(--main-white);
  --text-color-secondary: var(--main-black);

  --page-bg-color: rgba(42, 47, 38, 1);
  --bg-color: var(--main-black);

  --component-bg-color: rgba(255, 255, 255, 0.5);

  --opacity: 0.9;

  // Button
  --button-default-bg-color: var(--main-black);
  --button-outlinedWithTint-bg-color: rgba(96, 96, 96, 0.5);
}

// Use system preferences as fallback, only if no manual override
@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --main-accent: #e43c13;
    --main-grey: rgba(255, 255, 255, 0.6);
    --main-grey-light: rgba(255, 255, 255, 0.2);

    --text-color-primary: var(--main-white);
    --text-color-secondary: var(--main-black);

    --page-bg-color: rgba(42, 47, 38, 1);
    --bg-color: var(--main-black);

    --component-bg-color: rgba(255, 255, 255, 0.5);

    --opacity: 0.9;

    // Button
    --button-default-bg-color: var(--main-black);
    --button-outlinedWithTint-bg-color: rgba(96, 96, 96, 0.5);
  }

  html:not([data-theme='light']) {
    color-scheme: dark;
  }
}
