@import '_spacing';

// Typography
:root {
  // Typography
  --base-font-size: calc(var(--base-spacing) * 2);

  // Type scale
  /* Step -2: 9.00px → 11.26px */
  --step--2: clamp(0.5625rem, 0.531rem + 0.1799vw, 0.7038rem);

  /* Step -1: 12.00px → 15.00px */
  --step--1: clamp(0.75rem, 0.7082rem + 0.2389vw, 0.9375rem);

  /* Step 0: 16.00px → 20.00px */
  --step-0: clamp(1rem, 0.9443rem + 0.3185vw, 1.25rem);

  /* Step 1: 21.33px → 26.66px */
  --step-1: clamp(1.3331rem, 1.2589rem + 0.4244vw, 1.6663rem);

  /* Step 2: 28.43px → 35.54px */
  --step-2: clamp(1.7769rem, 1.6778rem + 0.5661vw, 2.2213rem);

  /* Step 3: 37.90px → 47.37px */
  --step-3: clamp(2.3688rem, 2.2368rem + 0.754vw, 2.9606rem);

  /* Step 4: 50.52px → 63.15px */
  --step-4: clamp(3.1575rem, 2.9815rem + 1.0056vw, 3.9469rem);

  /* Step 5: 67.34px → 84.17px */
  --step-5: clamp(4.2088rem, 3.9743rem + 1.34vw, 5.2606rem);
}

.heading-h1 {
  font-family: var(--font-dn-sans);
  font-size: var(--step-5);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2.693px;
}
.heading-h2 {
  font-family: var(--font-dn-sans);
  font-size: var(--step-4);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2.02px;
}
.heading-h3 {
  font-family: var(--font-dn-sans);
  font-size: var(--step-3);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.516px;
}
.heading-h4 {
  font-family: var(--font-dn-sans);
  font-size: var(--step-2);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.137px;
}
.heading-h5 {
  font-family: var(--font-dn-sans);
  font-size: var(--step-2);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.853px;
}
.heading-h6 {
  font-family: var(--font-dn-sans);
  font-size: var(--step-1);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.64px;
}

.sub-text {
  font-family: var(--font-dn-sans);
  font-size: var(--step-2);
  font-style: normal;
  font-weight: 500;
  line-height: 134.1%; /* 38.125px */
  letter-spacing: -0.853px;
}

.link {
  font-size: var(--step-0);
  font-style: normal;
  font-weight: 500;
  line-height: 124%; /* 19.84px */
  text-decoration-line: underline;
}

.navigation {
  font-family: var(--font-dn-sans);
  font-size: var(--step-0);
  font-style: normal;
  font-weight: 500;
  line-height: 125.596%; /* 26.79px */
  letter-spacing: -0.64px;

  @include breakpoint(md) {
    font-size: var(--step-1);
  }
}

.body {
  font-size: var(--step-0);
  font-style: normal;
  font-weight: 400;
  line-height: 124%; /* 19.84px */
}
.body-small {
  font-size: var(--step--1);
  font-style: normal;
  font-weight: 400;
  line-height: var(--step-0); /* 133.333% */
}
.body-tiny {
  font-size: var(--step--2);
  font-style: normal;
  font-weight: 400;
  line-height: 113.5%; /* 10.215px */
}
