@import '_mixins/breakpoints';
@import '_mixins/typography';
@import '_mixins/color';
@import '_mixins/spacing';
@import 'src/app/components/LogoMarquee/LogoMarquee.module.scss';
@import 'src/app/components/Projects/Project/Project.module.scss';

:root {
  // Navbar
  --navBar-height: 90.72px;

  // Navbar
  --border-radius: 50px;

  // Marquee
  --marqueeGap: 4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  scroll-behavior: smooth;
}

html {
  background-color: var(--page-bg-color);
  color: var(--text-color-primary);
  font-size: var(--base-font-size);
}

body {
  width: 100%;
}

svg {
  color: var(--main-grey-light);
}

a {
  color: inherit;
  text-decoration: none;
}
